{% extends 'base.html'%}
{% load static%}
{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2>Challenge</h2>
            <h4>Welcome back, {{request.user.username}}</h4>
          </div>
      </div>
      <div class="container">
      <div class="container">
        <h2>Something Something...</h2>
      </div>
      <div class="container">
        <h2>Something Here also</h2>
      </div>
      </div>
      </div>

{% endblock content %}