{% extends 'base.html'%}
{% load static%}
{% block content %}
    <div>
            {% if error%}
                <div class="alert alert-danger" role="alert">
                  {{error}}
                </div>
            {% endif %}
          <div class="alert alert-info" role="alert">
            <br><br>
           <h3>Welcome to the codeTrex</h3>
          </div> 
<br><br>
          <form method = "POST">
              {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="Username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = "username" /> <br><br>

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name = "password" />
              <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-primary" >Log in</button>
          </form>
    </div>

{% endblock content %}
