{% extends 'base.html'%}
{% load static %}
{% block content %}

{% for notification in notifications %}
<br><br><br><br>
<div id='content'>
  <div class='row-fluid'>
    <div class='span12' style='background-color:rgba(0, 0, 0, .8);'>
      <div class='row-fluid'>
        <div class='span4 offset4'>
          <br>
          <h1 class=' text-center' style='letter-spacing:4px'>
            <h5 class="card-title text-info">Request: {{ notification.status }}</h5>
    <p> <b> <class="card-text">{{notification.message}}</b></p>
    <a href="{% url 'user_process_request' 2 notification.task_id 'accept' %}" class="card-link text-success">Accept</a>
    <a href="{% url 'user_process_request' 2 notification.task_id 'decline' %}" class="card-link text-danger">Decline</a>
          </h1>
        </div>
      </div>
      </div>
  </div>
</div>

{% endfor %}


{% endblock content %}