{% extends 'base.html'%}
{% load static%}
{% block content %}

<div class="mt-4">
{% for task in tasks %}
<br><br><br>
<div id='content'>
  <div class='row-fluid'>
    <div class='span12' style='background-color:rgba(0, 0, 0, .8);'>
      <div class='row-fluid'>
        <div class='span4 offset4'>

    <h4 class="card-title">{{ task.task }}</h4><br>
    <h5 class="card-subtitle mb-2 text-muted">{{task.challenge}}</h5><br>
    <a href="{% url 'users' user_id task.id %}" class="card-link">Send a challenge</a>
  </div>
</div>
    </div>
  </div></div>

{% endfor %}
</div>

{% endblock content %}