{% extends 'base.html'%}
{% load static%}
{% block content %}


{% for user in users %}
<br><br><br><br>
<div id='content'>
  <div class='row-fluid'>
    <div class='span12' style='background-color:rgba(0, 0, 0, .8);'>
      <div class='row-fluid'>
        <div class='span4 offset4'>
          <br>

    <h4 class="card-title">{{ user.username }}</h4><br>
    <h5 class="card-subtitle mb-2 text-muted">{{user.email}}</h5><br>
    <a href="{% url 'user_send_request' requesting_user_id task_id user.id %}" class="card-link">Duel</a><br>
  </div>
</div>
    </div>
  </div>
</div>


{% endfor %}
</div>

{% endblock content %}