<html>
    <head>
        <title>
            Coding Challenge
        </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <style>

        </style>
    </head>

    <body>
       
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="#"><h1>Welcome</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"><h3>Home </h3><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><h3>Profile </h3></a>
                </li>


              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
          <br><br><br>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h2>Challenge</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis eaque beatae, quidem doloribus ipsum dolore placeat totam velit asperiores cupiditate harum voluptatem atque aspernatur architecto. Est consectetur maiores rerum quis!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente rerum illo, nesciunt voluptas exercitationem libero sit blanditiis excepturi obcaecati animi incidunt repellat ipsa minima possimus dolorum? Ad quae veritatis optio.
                </p>
           
              </div>
              
              <div class="col-sm">
                <h2>Challenge</h2>
               <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid rem nemo earum ratione inventore. Consectetur saepe aspernatur quos quo porro magnam, reprehenderit eligendi accusamus neque autem numquam ipsam. Impedit, sit.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam culpa porro debitis tempora vitae consequatur blanditiis inventore dolores hic, beatae libero quaerat nihil sit? Adipisci quaerat maiores minus sint? Laboriosam?
              
               
              
              </div>
              
              <div class="col-sm">
                <h2>Challenge</h2>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas sunt excepturi animi molestias non porro placeat necessitatibus facere eaque, perferendis repellendus cupiditate alias dolore accusantium asperiores quia dolores distinctio impedit?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam doloremque quam assumenda, sequi ipsum voluptatum consequuntur blanditiis odit quasi accusamus fugit explicabo itaque maxime iste qui, quis deleniti distinctio. Sunt.</p> 
                
              
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <button type="submit" class="btn btn-secondary" >Invite User
              </div>
              <div class="col-sm ">
                <button type="submit" class="btn btn-secondary" >Invite User
              </div>
              <div class="col-sm">
                <button type="submit" class="btn btn-secondary" >Invite User
              </div>
            </div>
          </div>
          <br><br>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h2>Challenge</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis eaque beatae, quidem doloribus ipsum dolore placeat totam velit asperiores cupiditate harum voluptatem atque aspernatur architecto. Est consectetur maiores rerum quis!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente rerum illo, nesciunt voluptas exercitationem libero sit blanditiis excepturi obcaecati animi incidunt repellat ipsa minima possimus dolorum? Ad quae veritatis optio.
                </p>
           
              </div>
              
              <div class="col-sm">
                <h2>Challenge</h2>
               <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid rem nemo earum ratione inventore. Consectetur saepe aspernatur quos quo porro magnam, reprehenderit eligendi accusamus neque autem numquam ipsam. Impedit, sit.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam culpa porro debitis tempora vitae consequatur blanditiis inventore dolores hic, beatae libero quaerat nihil sit? Adipisci quaerat maiores minus sint? Laboriosam?
              
               
              
              </div>
              
              <div class="col-sm">
                <h2>Challenge</h2>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas sunt excepturi animi molestias non porro placeat necessitatibus facere eaque, perferendis repellendus cupiditate alias dolore accusantium asperiores quia dolores distinctio impedit?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam doloremque quam assumenda, sequi ipsum voluptatum consequuntur blanditiis odit quasi accusamus fugit explicabo itaque maxime iste qui, quis deleniti distinctio. Sunt.</p> 
                
              
            </div>
          </div>
         
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <button type="submit" class="btn btn-secondary" >Invite User
              </div>
              <div class="col-sm ">
                <button type="submit" class="btn btn-secondary" >Invite User
              </div>
              <div class="col-sm">
                <button type="submit" class="btn btn-secondary" >Invite User
              </div>
            </div>
          </div>
          <br><br>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h2>Challenge</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis eaque beatae, quidem doloribus ipsum dolore placeat totam velit asperiores cupiditate harum voluptatem atque aspernatur architecto. Est consectetur maiores rerum quis!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente rerum illo, nesciunt voluptas exercitationem libero sit blanditiis excepturi obcaecati animi incidunt repellat ipsa minima possimus dolorum? Ad quae veritatis optio.
                </p>
           
              </div>
              
              <div class="col-sm">
                <h2>Challenge</h2>
               <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid rem nemo earum ratione inventore. Consectetur saepe aspernatur quos quo porro magnam, reprehenderit eligendi accusamus neque autem numquam ipsam. Impedit, sit.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam culpa porro debitis tempora vitae consequatur blanditiis inventore dolores hic, beatae libero quaerat nihil sit? Adipisci quaerat maiores minus sint? Laboriosam?
              
               
              
              </div>
              
              <div class="col-sm">
                <h2>Challenge</h2>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas sunt excepturi animi molestias non porro placeat necessitatibus facere eaque, perferendis repellendus cupiditate alias dolore accusantium asperiores quia dolores distinctio impedit?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam doloremque quam assumenda, sequi ipsum voluptatum consequuntur blanditiis odit quasi accusamus fugit explicabo itaque maxime iste qui, quis deleniti distinctio. Sunt.</p> 
                
              
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <button type="submit" class="btn btn-secondary" >Invite User
              </div>
              <div class="col-sm ">
                <button type="submit" class="btn btn-secondary" >Invite User
              </div>
              <div class="col-sm">
                <button type="submit" class="btn btn-secondary" >Invite User
              </div>
            </div>
          </div>
          <br><br><br><br>


          
           
         


    </body>